    <section class="blog__post">
      <h2>October 29, 2015</h2>
      <p class="blog__text">
        Today exactly 8 Adies visited the Taco Time food truck.
      </p>
      <img class="blog__image" src="https://pbs.twimg.com/media/CSgvKsLVAAAK8Lx.jpg:large">
    </section>

    <section class="blog__post">
      <h2>October 26, 2015</h2>
      <p>
        Just writing today to say that I love Taco Time.
      </p>
      <img class="blog__image" src="http://www.mywallingford.com/images/restaurants/taco_time.jpg">
    </section>
