<!-- <html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
        <h1>Blog</h1>
    </header>

    <nav>
      <div class="nav">
        <a href="/">HOME</a>
      </div>
      <div class="nav">
        <a href="/about">ABOUT</a>
      </div>
      <div class="nav">
        <a href="/blog">BLOG</a>
      </div>
      <div class="nav">
        <a href="/projects">PROJECTS</a>
      </div>
    </nav>

    <hr /> -->

    <section>
      <h2>October 26, 2015</h2>
      <p>
        Just writing today to say that I love Taco Time.
      </p>
      <img src="http://www.mywallingford.com/images/restaurants/taco_time.jpg">
    </section>
  <!-- </body>

</html> -->
