<!-- <html>
  <head>
    <title>Brittany Kohler</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
      <h1>Brittany Kohler</h1>
    </header>

    <nav>
      <div class="nav">
        <a href="/">HOME</a>
      </div>
      <div class="nav">
        <a href="/about">ABOUT</a>
      </div>
      <div class="nav">
        <a href="/blog">BLOG</a>
      </div>
      <div class="nav">
        <a href="/projects">PROJECTS</a>
      </div>
    </nav>

    <hr /> -->
    <div class="container">
      <table>
        <tr>
          <td>
            <img class="table__image" src="home_pic4.jpg" alt="Brittany ziplining"/>
          </td>
          <td>
            <img class="table__image" src="<%= @ring_girl_photos[rand(@ring_girl_photos.length)]%>" alt="Brittany making a cute face"/>
          </td>
          <!-- <td>
            <img src="home_pic1.jpg" height="250" alt="Brittany near Space Needle"/>
          </td> -->
          <td>
            <img class="table__image" src="home_pic2.jpg" alt="Brittany microlight flying"/>
          </td>
        </tr>
      </table>
    </div>

    <h2>
      Thoughts, Projects, and Information
    </h2>
  <!-- </body>
</html> -->
