<html>
  <head>
    <title>Brittany Kohler</title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
    </nav>
    <h1>Brittany Kohler</h1>
    <table>
      <tr>
        <td>
          <img src="home_pic1.jpg"
            height="300"/>
        </td>
        <td>
          <img src="home_pic2.jpg"
            height="300"/>
        </td>
        <td>
          <img src="home_pic3.jpg"
               height="300" />
        </td>
        <td>
          <img src="home_pic4.jpg" height="300"/>
        </td>
      </tr>
    </table>

    <h2>
      Thoughts, projects, and information.
    </h2>
  </body>
</html>
