    <div class="container">
      <table>
        <tr>
          <td>
            <img class="table__image" src="home_pic4.jpg" alt="Brittany ziplining"/>
          </td>
          <td>
            <img class="table__image" src="<%= @ring_girl_photos[rand(@ring_girl_photos.length)]%>" alt="Brittany making a cute face"/>
          </td>
          <td>
            <img class="table__image" src="home_pic2.jpg" alt="Brittany microlight flying"/>
          </td>
        </tr>
      </table>
    </div>

    <h2>
      Thoughts, Projects, and Information
    </h2>
