<!-- <html>
  <head>
    <title>Brittany Kohler</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
      <h1>Brittany Kohler</h1>
    </header>

    <nav>
      <div class="nav">
        <a href="/">HOME</a>
      </div>
      <div class="nav">
        <a href="/about">ABOUT</a>
      </div>
      <div class="nav">
        <a href="/blog">BLOG</a>
      </div>
      <div class="nav">
        <a href="/projects">PROJECTS</a>
      </div>
    </nav>

    <hr /> -->

    <table>
      <tr>
        <td>
          <img src="home_pic4.jpg" height="250" alt="Brittany ziplining"/>
        </td>
        <td>
          <img src="<%= @ring_girl_photos[rand(@ring_girl_photos.length)]%>" height="250" alt="Brittany making a cute face"/>
        </td>
        <!-- <td>
          <img src="home_pic1.jpg" height="250" alt="Brittany near Space Needle"/>
        </td> -->
        <td>
          <img src="home_pic2.jpg" height="250" alt="Brittany microlight flying"/>
        </td>
      </tr>
    </table>

    <h2>
      Thoughts, Projects, and Information
    </h2>
  <!-- </body>
</html> -->
