<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Brittany Kohler | <%= @title %> </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="stay-at-top">
      <header>
        <h1> brittany kohler </h1>
      </header>

      <nav>
        <hr />
        <div class="nav__link">
          <% if @title == "Home" %>
            <a class="selected" href="/">HOME</a>
          <% else %>
            <a href="/">HOME</a>
          <% end %>
        </div>

        <div class="nav__link">
          <% if @title == "About" %>
            <a class="selected" href="/about">ABOUT</a>
          <% else %>
            <a href="/about">ABOUT</a>
          <% end %>
        </div>

        <div class="nav__link">
          <% if @title == "Blog" %>
            <a class="selected" href="/blog">BLOG</a>
          <% else %>
            <a href="/blog">BLOG</a>
          <% end %>
        </div>

        <div class="nav__link">
          <% if @title == "Projects" %>
            <a class="selected" href="/projects">PROJECTS</a>
          <% else %>
            <a href="/projects">PROJECTS</a>
          <% end %>
        </div>

        <hr />
      </nav>
    </div>

    <div class="spacer">
    </div>

    <%= yield %>

    <footer>
      <p class="footer__copyright">
        Copyright &copy; Brittany Kohler <%= Time.now.year %>
      </p>
    </footer>
  </body>
</html>
