header {
  margin-top: 50px;
}

nav {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 50px;
  background-color: #ffffff;
  /*position: fixed;*/
  width: 960px;
  z-index: 1;
}

nav a {
  color: #2D9FA9;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  color: #747070;
}

body {
  margin: auto;
  width: 960px;
}

.nav__link {
  padding: 5px 25px;
  display:inline-block;
  text-align: center;
  position: relative;
}

h1 {
  /*font-family: 'Merriweather', serif;*/
  font-family: Didot;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: "Microsoft Yi Baiti";
  font-size: 24px;
  text-align: center;
  margin: 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: #747070;
  text-align: center;
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

section {
  margin-top: 50px;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 14px;
  margin: 25px;
}

.social-media {
  text-align: center;
  height: 25px;
  margin: 0;
}

section a, ul a {
  color: #747070;
  text-decoration: none;
  font-family: Verdana;
  font-size: 14px;
}

ul a:hover {
  color: #2D9FA9;
}

.social-media__icon {
  display: inline-block;
  position: relative;
  line-height: 25px;
  padding: 10px;
}

ul {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: left;
}

.projects__image--ada {
  margin: 25px;
}

footer {
  margin-top: 75px;
}

.footer__copyright {
  font-size: 10px;
}

.table__image, .about__image--brittany, .blog__image, .social-media__icon {
  -webkit-filter: grayscale(100%);
}

.blog__image, .blog__text {
  width: 500px;
  margin-bottom: 10px;
  margin: auto;
}

.blog__text {
  padding-bottom: 15px;
}

.table__image {
  height: 250px;
}

.table__image:hover, .about__image--brittany:hover, .blog__image:hover, .social-media__icon:hover {
  -webkit-filter: grayscale(0%);
}

.container {
  overflow: hidden;
}

.selected {
  text-decoration: underline;
}
